.category-page {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .title {
      font-size: 38px;
    }

    .link {
      position: absolute;
      font-size: 23px;
      text-decoration: none;
      left: 0;
    }
  } 

  

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    & .category-item {
      margin-bottom: 30px;
    }
  }
}